html,
body {
    background-color: black;
    font-size: 16;
    font-family: verdana;
    text-align: center;
}
header h1 {
    font-size: 3.125rem;
    color: white;
    font-weight: normal;
}
Main h4 {
    text-decoration: underline;
    color: aquamarine;
    
}
.guide h2 {
    font-size: 2.625rem;
    color: white;
    font-weight: 300;
}
.guide h3 {
    color: gray;
    font-size: 1.3125rem;
}
footer {
    text-align: right;
    color: gray;
    font-size: 1.3125rem;
}


    
